@media screen and (max-width: 600px) {
  .column, .container {
    width: 100%;
  }
}

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s; 
     
}

.logo{
  width:120px;
  height:20%;
  margin: 5px;
  border-radius: 50%;
}
.open-button {
  background-color: rgb(2, 72, 119);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 150px;
}

.form-popup {
  display: none;
  bottom: 0;
  /* right: 15px; */
  height:  60%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #1d40b4;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: rgb(94, 91, 245);
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

body{
background-image:linear-gradient(to top left, rgb(100, 137, 167),  rgb(12, 63, 122));
color: #ffffff;
 font-size: 14px;
 font-family: 'Open Sans', sans-serif;
 line-height: 1.80857;
 font-weight: normal;
 overflow-x: hidden;
}

.homepic {
margin: 15px;
position: relative;
/* display: ; */
border: 3px solid #f1f1f1;
width: 50%

}

.size {
  width: 300px ;
  margin-left: 0%;
  padding: 20px;

}

.size2 {
  width: 300px ;
  margin-right: -100%;
  padding-left: 80px;
  

}

.topnav {
overflow: hidden;
margin-top: -120px;
margin-right: 20px;
font-style: italic;
float:right;
display: inline-flex;
}

.topnav a{
float: left;
display:  grid;
color: white;
text-align: center;
padding: 20px 24px;
text-decoration: none;
}

.topnav a:hover {
background-color: rgb(100, 137, 167);
color: #291dd6;
font-weight: bold ;
height: 20%;
}

button {
background-color: #ffffff;
border: none;
width: 15%;
height:50px;
color: #000000;
}

.slogan {
    align-self: center;
    font-style: italic;
    margin: auto;
    margin-top: 0%;
    margin-left: 2%;
    color: white;
    font-size:25px;
    text-align: center;
}

.formtitle {
  text-align: center;
  color:white;
}


.caption {
  color: white;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

/* sign up form */
input[type=text], input[type=password] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.empForm {
  float: right;
  border: 2px solid rgb(12, 63, 122);
  margin-right: 10%;
  width:300px;
  height: 15%;
  padding: 1em;
  color:black;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  display: flex;
}
.button2 {
  background-color: rgb(12, 63, 122);
  color: white;
  padding: 14px 20px;
  margin: 80px;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
  float: right; 
}

.button2:hover {
  opacity:1;
}


/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: right;
  width: 50%;
}

/* Add padding to container elements */
.container2 {
  padding: 10px;
  float: right;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table-column ;
}


/*footer*/
footer{
    position: relative;
    bottom: 0;
   }
   
   .footer-distributed{
    background-color: #1c2b3ad8;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 20px 35px;
    margin-top: 50px;
   }
   
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
   
   .footer-distributed .footer-left{
    width: 40%;
   }
   
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
   
   .footer-distributed h3 span{
    color: #554616;
   }
   
   
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
   
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
   
   .footer-distributed .footer-owner{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
   
   
   .footer-distributed .footer-center{
    width: 35%;
   }
   
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
   
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
   
   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
   
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
   
   .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
   }
   
   .footer-distributed .footer-right{
    width: 20%;
   }
   
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
   
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
   
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
   
   .footer-distributed .footer-icons a img{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
   }
   
   
   @media (max-width: 880px) {
   
    .footer-distributed{
      font: bold 14px sans-serif;
    }
   
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
   
    .footer-distributed .footer-center i{
      margin-left: 0;
    }