.u-section-1 {
  background-image: linear-gradient(#478ac9, #292e33);
}

.u-section-1 .u-sheet-1 {
  min-height: 762px;
}

.u-section-1 .u-text-1 {
  margin: 33px 30px 0 88px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  min-height: 476px;
  background-image: url("images/96829614-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 5px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 609px;
    margin-right: 0;
    margin-left: 93px;
    width: 524px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 798px;
    margin-left: 71px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -860px;
  }

  .u-section-1 .u-image-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 959px;
    margin-left: 53px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1021px;
  }

  .u-section-1 .u-image-1 {
    min-height: 450px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 979px;
    margin-left: 33px;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1104px;
  }

  .u-section-1 .u-image-1 {
    min-height: 283px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 883px;
}

.u-section-2 .u-text-1 {
  line-height: 1.4;
  font-size: 3.75rem;
  width: 430px;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 748px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-gap: 10px 10px;
  margin-top: 0;
  margin-bottom: 21px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 385px;
  width: 300px;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 8px 45px 0 21px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 385px;
  width: 300px;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 8px 45px 0 21px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 385px;
  width: 300px;
  object-position: 50% 34.26%;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 8px 45px 0 21px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-2 .u-list-1 {
    min-height: 617px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -335px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1418px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
  }

  .u-section-2 .u-image-3 {
    margin-top: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 392px;
}

.u-section-3 .u-text-1 {
  width: 800px;
  margin: 60px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 300px;
  min-width: 140px;
  white-space: nowrap;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-text-2 {
  width: 669px;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}