{% extends "layout.html" %}

{% block title %}
Register as Employer
{% endblock %}

{% block main %}
    <h3>Register as an Employer</h3>
    <form action="/register_as_employer" method="post">

        <label for="first_name" class="form-label">First Name</label>
        <div class="form-group">
            <input autocomplete="off" autofocus id="first_name" class="form-control" name="first_name" type="text"/>
        </div><br>

        <label for="last_name" class="form-label">Last Name</label>
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="last_name" name="last_name" type="text"/>
        </div><br>

        <label for="company" class="form-label">Company</label>
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="company" name="company" type="text"/>
        </div><br>

        <label for="email" class="form-label">Email</label>
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="email" name="email" type="email"/>
        </div><br>

        <label for="password" class="form-label">Password</label>
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="password" name="password" placeholder="Password" type="password"/>
        </div><br>

        <label for="confirm_password" class="form-label">Confirm Password</label>
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="confirm_password" name="confirmation" placeholder="Confirm Password" type="password"/>
        </div><br>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}