{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
    <div class="slogan">
        <p class="slogan2">Rapid Hire, here small businesses and potential employees connect. <br> We're committed
            to helping decrease unemployment rates.</p>
    </div>
    <div class="homepic">
        <figure>
            <img src="../static/images/job seekers.gif" class="size">
            <figcaption>160 Million people are looking for job to <br> their experience and make some income.
            </figcaption>
        </figure>
        <img src="../static/images/computer.gif" class="size">
        <figcaption>160 Million people are looking for job to <br> their experience and make some income.
        </figcaption>
    </div>
{% endblock %}