{% extends "layout.html" %}

{% block title %}
Portal
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-4">
            {% for post, possible_employees in matches.items() %}
            <div class="list-group" id="list-tab" role="tablist">
                {% for possible_employee in possible_employees %}
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="{{ matches }}">Home</a>      
                {% endfor %}        
            </div>
            {% endfor %}
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
            </div>
        </div>
    </div>
{% endblock %}